<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
</head>
<body>
    <h1>{{ h1 }}</h1>
    <form method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.title.label }}<br>
            {{ form.title(size=32) }}<br>
            {% for error in form.title.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.description.label }}<br>
            {{ form.description(cols=32, rows=4) }}<br>
        </p>
        <p>
            {{ form.year.label }}<br>
            {{ form.year() }}<br>
        </p>
        <p>
            {{ form.category_id.label }}<br>
            {{ form.category_id() }}<br>
        </p>
        <p>
            {{ form.audience_id.label }}<br>
            {{ form.audience_id() }}<br>
        </p>
        <p>
            {{ form.link_id.label }}<br>
            {{ form.link_id() }}<br>
        </p>
        <p>
            {{ form.url.label }}<br>
            {{ form.url() }}<br>
        </p>
        <p>
            {{ form.authors.label }}<br>
            {{ form.authors() }}<br>
        </p>
        <p>
            {{ form.submit() }}
        </p>
    </form>
    <a href="{{ url_for('search') }}">Назад к списку курсов</a>
</body>
</html>